form {
  max-width: 1500px;
  margin: auto;
  width: 95%
  padding: 0;
}

input {
  color: white;
}

#form-container {
  max-width: 1500px;
  width: 100%;
  margin: 0px;
}

#form-inner {
  padding: 0;
}

#contact-form-row {
  padding: 0px;
  color: white;
}

#name-input,
#email-input,
#contact-message-input {
  color: white;
  background-color: #171717;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {

  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

#contact-message-input {
  height: 20rem;
}

.contact-input {
  margin-bottom: 10px;
  color: white;
}

.form-control {
  background-color: #171717;
  border-color: grey;
}

.form-control:focus {
  background-color: #171717;
}

.form-control:checked {
  background-color: #171717;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #B8B8B8;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #B8B8B8;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: #B8B8B8;
}

.btn-custom {
  color: orange;
  border-color: orange;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 15px;
}

.btn-custom:hover {
  text-decoration: none;
  color: #E05E08;
  border: 1px solid #E05E08;
}
