
h3 {
  color: white;
  margin-bottom: 1rem;
}

#button-container {
  text-align: right;
}

.btn {
  margin-top: 1rem;
  color: white;
  border-color: white;
  transition: .2s;
}

.btn:hover {
  color: orange;
  border-color: orange;
}
