
h3 {
  color: white;
  margin-bottom: 1rem;
}

#button-container {
  text-align: right;
}

.btn {
  margin-top: 1rem;
  color: #E5E5E5;
  border-color: #E5E5E5;
  transition: .4s;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

.btn:hover {
  color: #E5E5E5;
  transform: scale(1.05);
}
