
h5 {
  font-style: italic;
  font-weight: 100;
}

/* ================================================================================
TABLE
================================================================================ */

.table {
  margin-top: 1.5rem;
  background-color: #171717;
  color: white;
}

thead {
  color: orange;
}
