
h5 {
  font-style: italic;
  font-weight: 100;
}

/* ================================================================================
TOP SELECTION BUTTONS
================================================================================ */

#selection-button-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.dropdown-button {
  border: 1px solid grey;
  color: white;
  width: 100%;
}

.dropdown-button:focus,
.dropdown-button:hover {
  color: #E05E08;
  border: 1px solid #E05E08;
  transition: 0s;
}

.dropdown-menu {
  width: 100%;
}


/* ================================================================================
TABLE
================================================================================ */

.table {
  margin-top: 1.5rem;
  background-color: #171717;
  color: white;
}

thead {
  color: orange;
}
