h3 {
  margin-top: 1rem;
}

h5 {
  font-style: italic;
  font-weight: 100;
}

/* ================================================================================
TOP SELECTION BUTTONS
================================================================================ */

#selection-button-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.dropdown-button {
  font-family: 'Roboto Condensed', sans-serif;
  border: 1px solid grey;
  color: #E5E5E5;
  background-color: #171717;
  width: 100%;
  font-weight: 100;
}

.dropdown-button:focus,
.dropdown-button:hover {
  color: #E05E08;
  border: 1px solid #E05E08;
  transition: 0s;
}

.dropdown-menu {
  font-size: .9rem;
  width: 94.5%;
  background-color: #171717;
  border: 1px solid grey;
}

.dropdown-item {
  color: #E5E5E5;
}

.dropdown-item:hover {
  background-color: #171717;
  color: #E05E08;
}

.complete-counter-container {
  text-align: right;
  font-weight: 400;
  font-style: italic;
  font-size: .8rem;
  color: orange;
}

/* ================================================================================
TABLE
================================================================================ */

.table {
  margin-top: 1.5rem;
  background-color: #171717;
  color: white;
}

thead {
  color: orange;
}
