/* ================================================================================
GENERAL THEMES
================================================================================ */

body {
  background-color: #0D0D0D;
  color: #E5E5E5;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 250%;
  font-weight: 400;
  color: #E05E08;
}

h3 {
  font-size: 200%;
  font-weight: 300;
  color: #E05E08;
}

@media(min-width: 768px ){
  h1 {
    font-size: 375%;
    font-weight: 300;
    margin-bottom: 1rem;
  }
}

.container {
  max-width: 1500px;
  width: 90%;
  padding: 0px;
}

.introduction-container {
  padding-top: 2rem;
}




/* ================================================================================
NAVIGATION
================================================================================ */

nav {
  font-family: 'Roboto', sans-serif;
  margin-left: -1rem;
}

@media (min-width: 768px ){
  nav {
    position: fixed;
  }
}

nav .navigation-container {
  max-width: 1500px;
  width: 90%;
  padding: 0px;
}

.navbar-nav {
  margin-right: -5rem;
}

.navbar-custom {
  background-color: #0D0D0D;
}

.navbar-nav .nav-link {
  font-size: 1rem;
}

.navbar-collapse {
  text-align: right;
}

.navbar .navbar-nav .nav-item {
  padding: 0px 100px;
}

.navbar .navbar-nav .nav-item .active {
  color: #E05E08;
}

#nav-gate-icon {
  height: 5rem;
  width: 5rem;
}

/* ===============================================================================
HEADINGS STYLES
=============================================================================== */

.heading-container {
  margin-bottom: 2rem;
}

.heading-container-border {
  width: 20%;
  border-bottom: 1px solid #E5E5E5;
}
