/* ================================================================================
GENERAL THEMES
================================================================================ */

body {
  background-color: #0D0D0D;
  color: #E5E5E5;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1500px;
  width: 90%;
  padding: 0px 0px 0px 2rem;
}

/* ================================================================================
NAVIGATION
================================================================================ */

nav {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 767px ){
  nav {
    position: inherit;
  }
}

nav #navigation-container {
  max-width: 1500px;
  width: 100%;
  padding: 0px;
  padding-top: 5px;
}

.navbar-nav {
  margin-right: -5rem;
}

.navbar-custom {
  background-color: #0D0D0D;
}

.navbar-nav .nav-link {
  font-size: 1rem;
}

.navbar-collapse {
  text-align: right;
}

.navbar .navbar-nav .nav-item {
  padding: 0px 100px;
}

.navbar .navbar-nav .nav-item .active {
  color: #E05E08;
}

#nav-gate-icon {
  height: 5rem;
  width: 5rem;
}

/* ================================================================================
MAIN
================================================================================ */

#introduction-area {
  padding-top: 20rem;
  padding-left: 0;
}

#heading-container {

  margin-bottom: 2rem;
}

#heading-container-border {
  width: 20%;
  border-bottom: 1px solid #E5E5E5;
}

h1 {
  font-size: 350%;
  font-weight: 300;
  color: #E05E08;
}

.btn {
  margin-top: 1rem;
  color: #E5E5E5;
  border-color: #E5E5E5;
  transition: .4s;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

.btn:hover {
  color: #E5E5E5;
  transform: scale(1.05);
}
